# $HOME/.config/systemd/user/himawaripy.service

[Unit]
Description=Update desktop background with satellite imagery

[Service]
Type=oneshot
# Add options and the path to himawari8.  Suggested "--auto-offset --save-battery"
ExecStart=/path/to/himawari8
